# Cache directories
.cache/
__pycache__/

# Build directories
build*/

# GUI managed setups workspace
tools/gui/setups/

# Python venv
.venv/

# VSCode directory
.vscode/*
!.vscode/settings.json

# Binaries
*.so
sim

# Run outputs
/stats.json
setups/duckcam/data/duckiebot_output*.jpg
setups/tumlogo/data/tum_output.jpg